{% extends 'base.html' %}
{% block title  %}
    Products 
{% endblock %}
{% block content  %}
<div class="container">
  <hr class="hidden-hr">
  <!-- header -->
  <div class="row">
    <div class="col"></div>
    <!-- Search bar -->
    <div class="col-4 rounded">
      <form action="{{ url_for('products.product_list') }}"> 
        <input type="search" name="q" placeholder="Search" aria-label="Search"  value="{{ request.args.get('q', '') }}">
        <button type="submit" class="btn btn-outilne-secondary btn-info btn-md">Search</button>
      </form>
    </div>
    <div class="col"></div>
    
  </div>
  <hr>
  <!--Product list-->
  <div class="row">

    <div class="col"></div>
    <div class="col">
      <h1>Product list</h1>
    </div>
    <div class="col">
      {% with messages = get_flashed_messages()  %}
      {% if messages %}
          <div class="notification h3 mb-3 font-weight-normal">
                      {{ messages[0] }}
                  </div>
      {% endif %}
    
{% endwith %}
    </div>
  </div>
    <hr class="hidden-hr">
 <!-- list --> 
  <div class="row">
         
   {% for product in products %}
              <div class="col-md-3">
              <strong>Name:</strong> {{ product.name }} <br>
              <strong>Description:</strong> {{ product.description }} <br>
              <strong>Price:</strong> ${{ product.price }} <br>
              <form action="/cart/add/{{ product.id }}" method="post">
                  <button type="submit" class="btn btn-primary">Add to Cart</button>
              </form>
              </div>
            
          {% endfor %}

    <div class="col"></div>
  </div>

  <hr class="hidden-hr">
  <!-- Other Pages buttons -->
  <div class="row">

    <div class="col" style="text-align: right;">
      {% if paginated_products.has_prev %}
        <button type="button" class="btn btn-outilne-secondary btn-info btn-lg">
            <a style="text-decoration: none; color: black;" 
            href="{{ url_for('products.product_list', page=paginated_products.prev_num) }}">Previous</a>
        </button>

      {% endif %}
    </div>
    <div class="col">
      
      {% if paginated_products.has_next %}
        <button type="button" class="btn btn-outilne-secondary btn-info btn-lg">
            <a style="text-decoration: none; color: black;" 
            href="{{ url_for('products.product_list', page=paginated_products.next_num) }}">Next</a>
        </button>
      
      {% endif %}
    </div>


      </div>
</div>
    


{% endblock %}