{% extends 'base.html' %}
{% block title  %}
    Products 
{% endblock %}
{% block content  %}
    
<h1>Product list</h1>


<form action="{{ url_for('products.product_list') }}"> <input type="text" name="q" placeholder="Search products..." value="{{ request.args.get('q', '') }}">
    <button type="submit">Search</button>
  </form>
  
  <ul>
    {% for product in products %}
      <li>
        <strong>Name:</strong> {{ product.name }} <br>
        <strong>Description:</strong> {{ product.description }} <br>
        <strong>Price:</strong> ${{ product.price }} <br>
        <strong>Quantity:</strong> {{ product.quantity }} <br>
        <strong>Created At:</strong> {{ product.created_at }} <br>
        <strong>Updated At:</strong> {{ product.updated_at }} <br>
      </li>
    {% endfor %}
  </ul>
  
  {% if paginated_products.has_prev %}
    <a href="{{ url_for('products.product_list', page=paginated_products.prev_num) }}">Previous</a>
  {% endif %}
  
  {% if paginated_products.has_next %}
    <a href="{{ url_for('products.product_list', page=paginated_products.next_num) }}">Next</a>
  {% endif %}
{% endblock %}